body{
  font-family:"Hragino Kaku Gothic ProN","メイリオ",sans-sesif;
}



img{
  margin:0 auto;
  width:300px;
  height:70px;
}

header{
    margin:0 auto;
}

ul{
  float:left;
  width:100%;
  height:60px;
  background-color:black; 
}

li{
  float:left;
  padding-left:40px;
  color:white;
  list-style:none;
  line-height:60px;
}

header h1{
    clear:left;
    margin-top:30px;
    padding-left:8px;
    border-left:solid; 
    border-bottom:1px solid;
    width:600px;
}

main{
    clear:both;
    width:100%;
}


form{
  margin:0 auto;
  width:70%;
  background:color:#fbfbfb;
  border-radius:10px;
  border:3px solid #ebebeb;
}

form h1{
  margin-left:15px;
  border-bottom:none;
  border-left:3px red solid;
  font-size:20px;
}

form div{
    padding:15px;
}

.text,textarea{
    border:1px solid lightgray;
    padding:5px;
    color:#999;
    background-color:#fff;
}































