@CHARSET "UTF-8";

@font-face{
    font-family: 'hannari';
    src: url("./hannari/hannari.otf") format('opentype');
}/*プラグインした、はんなり明朝というwebフォントです。*/

*{
    margin:0px;
    padding:0px;
}

html{
    height:100%;
    width:100%;
}

body{
	position:absolute;
	width:100%;
	height:100%;
	margin:0 auto;
	background-image:url("../images/backhome.jpg");
	background-size:cover;
	background-attachment:fixed;
}


/*--背景画像--*/
#image-wrap{
	position:relative;
	background-image:url("zen.png");
	background-size:cover;
	width:1800px;
	height:1300px;
    z-index:-5;/*--背景画像の上に要素を置けるようにする処理--*/
}

#icon{
    position:absolute;
    top:15px;
    left:45px;
}



#main{

margin-top:10%;
margin-left:15%;
height:80%;
min-height:100%;
width:90%;
font-family:'hannari';
}

h3{
	margin-left:330px;
	font-size:30px;
}


.image{

	float:left;
	margin-top:50px;
	margin-left:20px;
	width:220px;
}

.moji{
	float:left;
	font-family:'hannari';
	font-size:30px;
}

.box{
	clear: both;
	width: 70%;
	height: 300px;
	margin-top:5px;
	margin-left:150px;
	margin-bottom:10px;
	background-color:rgba(255,255,255,0.6);



}



.message{
	clear:both;
	float:left;
	text-align:center;
	position:absolute;
	top:200px;
	font-size:30px;

}

.button{
	margin-left: 500px;
	margin-bottom: 85px;
	font-size: 110%;
	width:5%;
	color:white;
    /*--ボタンの影指定--*/
    border-style:none;
    box-shadow:1px 1px 2px #000;
    -moz-box-shadow:2px 2px 3px 1px #666;
    -webkit-box-shadow:2px 2px 2px 2px #666;
    /*--テキストの影指定--*/
    text-shadow:1px 1px 2px #000;
    background:-moz-linear-gradient(bottom,#000,#000 50%,#000);
    background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.5,#000),to(#000));
    /*--角丸指定--*/
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

}


.footer-menu{
	clear:both;
	width:100%;
    height: 10%;
	position:fixed;
	filter:sepia(40%);
	background-color:#121311;
}


footer a{
    color:#cccccc;
    text-decoration:none;
}

.inquiry{
    position:absolute;
	left:10%;
	line-height:90px;
	font-family:'hannari';
    font-size:150%;
}


.company{
    position:absolute;
    right:15%;
    line-height:90px;
    font-family:'hannari';
    font-size:150%;
    color:#cccccc;
}

