@font-face{
    font-family: 'hannari';
    src: url("../webfont/hannari.otf") format('opentype');
}/*プラグインした、はんなり明朝というwebフォントです。これはプラグインしただけなので
使うところにfont-familyで指定して下さい。*/

*{
    margin:0;
    padding:0;
}

html{
	width:100%;
}

body{
	width:100%;
    height:100%;
    margin:0 auto;
    display:block;
	position:relative;
    filter:sepia(40%);
	background-image:url("../images/backhome.jpg");
	background-attachment:fixed;
	background-size:cover;
    z-index:0;/*--背景画像の上に要素を置けるようにする処理--*/
}


.header-wrapper{
	width:100%;
    height:10%;
    filter:sepia(40%);
    background-color:#121311;

}

.icon{
    float:left;
    margin:0 0 0 4%;
}

.search{
    padding-top:35px;
}

.search1{
	clear:both;
	float:left;
	margin-left:13%;
}




.select1{
	padding:5px;
}



.search2{
	float:left;
	margin-left:1%;
}

.box1{
	height:30px;
	padding:0 10px;
	width:200px!important;
	border-radius:25px;
	border:2px solid white;
	outline:0;
}

.search3{
	margin:2px 0 0 0;
	padding: 0;
	clear:both;
	display:inline-block;
}



header ul{
	clear:both;
    float:left;
    margin-left:45%;
    margin-top:-55px;
}

header li{
	float:left;
	list-style:none;
	padding-left:35px;
    font-family:'hannari';
	font-size:25px;
    color:#cccccc;
}

header a{
    color:#cccccc;
    text-decoration:none;
}




.footer-menu{
	clear:both;
	width:100%;
    height:10%;
	position:fixed;
	bottom:0;
	background-color:#121311;
}

.main{
	width:100%;
	height:80%;
}


.zen{
	width:100%;
	float:left;
	margin:110px 0 0 35%;
}

.catchphrase{
    position:absolute;
    z-index:1;
    top:400px;
    right:40%;
    font-family:'hannari';
    font-size:150%;
    color:#121311;
    -ms-writing-mode:tb-rl;
    writing-mode:vartical-rl;
    display:none;
}


footer a{
    color:#cccccc;
    text-decoration:none;
}

.inquiry{
    position:absolute;
	left:10%;
	line-height:90px;
	font-family:'hannari';
    font-size:150%;
}


.company{
    position:absolute;
    right:15%;
    line-height:90px;
    font-family:'hannari';
    font-size:150%;
    color:#cccccc;
}


#list {
	position:absolute;
	font-size:45px;
}


#main {
	display:inline-flex;
	flex-wrap: wrap;
	padding-top:2%;
	font-family:'hannari';
}

#product1 {
	width:32%;
	padding-top:5%;
	padding-bottom:6%;
	padding-left:1%;
	padding-right:;
}

#product1 li {
	list-style-type:none;
}

#page {
	clear:both;
}

#message {
	font-family:'hannari';
	position: absolute;
	left:40%;
}

#submit1 {
	position: absolute;
	left:88%;
	bottom:11%;
	padding-right:1%;
	font-family:'hannari';
	font-weight: bold;
    color: white;
    background: black;
    font-size:20px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    position:fixed;
}

#submit2 {
	position: absolute;
	left:94%;
	bottom:11%;
	padding-right:1%;
	font-family:'hannari';
	font-weight: bold;
    color: white;
    background: black;
    font-size:20px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    position:fixed;
}

#btn2 {
	font-family:'hannari';
    color: white;
    background: black;
    border-radius: 5px;
    font-family:'hannari';
    padding-top:3%;
	padding-bottom:5%;
	padding-right:3%;
	padding-left:5%;
	font-size:26px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

#btn2:active {
	ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

